<!DOCTYPE html>
<html lang="en">
{% load static %}
<body>
    {% block menu %}
        <span class='menu' id='myMenu'>
            <button><a href="/">Home</a></button>
            <div class="dropdown">
                <button><span class="a">Books</span><i class="fa fa-caret-down"></i></button>
                <div class="dropdownContent">
                    <button><a href="/book/">Books</a></button>
                    <button><a href="/author/">Authors</a></button>
                    <button><a href="/genre/">Genre</a></button>
                    <button><a href="/series/">Series</a></button>
                </div>
            </div>
            <button class='logReg'><a href="/logReg/">Login</a></button>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="menu()">&#9776;</a>
        </span>
    {% endblock menu %}
</body>
</html>