@import 'table.css';
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
table,
td,
tr,
th {
  border: 1px double #076e77;
}
table {
  background-color: #ecec9e86;
}
td,
th,
tr {
  padding: 1em 1.5em;
}
table tr:nth-child(even) {
  background-color: #ecec9eb2;
}
a,
.a {
  text-decoration: none;
  color: #e2e2cc;
  padding: 0.5em;
  font-size: 1.2em;
}
button {
  background-color: #076e77;
}
.logReg,
.messages {
  background-color: #9b0487;
}
.views {
  background-color: #ffc0cb;
}
.views a {
  text-decoration: none;
  color: #000;
  padding: 0.5em;
  font-size: 1.2em;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav .menu {
  overflow: hidden;
}
body header nav .menu button {
  float: left;
  text-align: center;
  padding: 14px 16px;
}
body header nav .menu .icon {
  display: none;
}
body header nav .menu .dropdown {
  float: left;
  overflow: hidden;
}
body header nav .menu .dropdown .dropdownContent {
  display: none;
  position: absolute;
  margin-top: 2.5em;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body header nav .menu .dropdown .dropdownContent button:hover {
  background-color: #076e77;
  color: #e2e2cc;
}
body header nav .menu .dropdown:hover {
  background-color: #e2e2cc;
  color: #076e77;
}
body header nav .menu .dropdown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header nav .menu a:hover {
  background-color: #e2e2cc;
  color: #076e77;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
body main .collapsible {
  background-color: #ffc0cb;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 85%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  margin: 2em 0;
}
body main .active,
body main .collapsible:hover {
  background-color: #000;
  color: #ffc0cb;
}
body main .content {
  padding: 18px;
  display: none;
  overflow: hidden;
  width: 80%;
}
body main .content .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1em;
  flex-wrap: wrap;
}
body main .content .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
body main .content .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .content .column .collapsible {
  background-color: #ffc0cb;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
body main .content .column .active,
body main .content .column .collapible:hover {
  background-color: #000;
  color: #ffc0cb;
}
body main .content .column .content {
  margin: 0.5em;
  padding: 18px;
  display: none;
  overflow: hidden;
  width: 90%;
  background-color: #ffc0cb;
}
body main .content .column .content table {
  margin: auto;
}
body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1em;
  flex-wrap: wrap;
}
body main .row form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
body main .row form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0.5em 0;
}
body main .row .column form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
body main .row .column form section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0.5em 0;
}
body main .row .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body main .row .column .data {
  background-color: #ecec9e86;
  padding: 1em;
  flex-wrap: wrap;
}
body main .row .column .data .list {
  padding: 0.5em;
  margin: 0.5em;
}
body main .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .column .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
}
body main .column .row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
