{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/logos/notebook.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Book Application</title>
</head>
<body>
    <header>
        <h1></h1>
        <nav>
            {% block menu %} {% include 'menu/loggedMenu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="column">
                <h2>Book</h2>
                <form class='book' action="/theAdmin/book/create/" method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="column">
                            <section>
                                <label for="title">Book Title</label>
                                <input type="text" name="title">
                            </section>
                            <section>
                                <label for="description">Description</label>
                                <textarea name="description" cols="30" rows="10"></textarea>
                            </section>
                            <section>
                                <input type="hidden" name="user" value='{{user.id}}'>
                            </section>
                            <section>
                                <label for="author">Author</label>
                                <select name="author">
                                    <option value=""></option>
                                    {% for author in authors %}
                                        <option value="{{author.id}}">{{author.firstName}} {{author.lastName}}</option>
                                    {% endfor %}
                                </select>
                            </section>
                        </div>
                        <div class="column">
                            <section>
                                <label for="status">Current Read Status</label>
                                <select name="status">
                                    <option value=""></option>
                                    {% for status in statuss %}
                                        <option value="{{status.id}}">{{status.status}}</option>
                                    {% endfor %}
                                </select>
                            </section>
                            <section>
                                <label for="ownership">Ownership</label>
                                <select name="ownership">
                                    <option value=""></option>
                                    {% for ownership in ownerships %}
                                        <option value="{{ownership.id}}">{{ownership.ownership}}</option>
                                    {% endfor %}
                                </select>
                            </section>
                            <section>
                                <label for="genre">Genre</label>
                                <select name="genre">
                                    <option value=""></option>
                                    {% for genre in genres %}
                                        <option value="{{genre.id}}">{{genre.genre}}</option>
                                    {% endfor %}
                                </select>
                            </section>
                            <section>
                                <label for="series">Part of Series</label>
                                <select name="series">
                                    <option value=""></option>
                                    {% for series in seriess %}
                                        <option value="{{series.id}}">{{series.name}}</option>
                                    {% endfor %}
                                </select>
                            </section>
                            <section>
                                <label for="sequence">Sequence in Series</label>
                                <input type="number" name="sequence">
                            </section>
                        </div>
                    </div>
                    <button><span class="a">Submit</span></button>
                </form>
            </div>
        </div>
        <button type='button' class="collapsible">Books</button>
        <div class="content">
            <div class="headerWrap">
                <div class="numRows">	
                    <div class="formGroup"> 
                        <select class  ="formControl" name="state" id="maxRows">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
                <div class="tbSearch">
                    <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="formControl">
                </div>
            </div>
            <table class="table table-striped table-class" id= "table-id">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{book.title}}</td>
                            <td><button><span class="a"><a href="/theAdmin/book/{{book.id}}/edit/">Edit</a></span></button></td>
                            <td><button><span class="a"><a href="/theAdmin/book/{{book.id}}/delete/">Delete</a></span></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class='pagination-container'>
                <nav>
                  <ul class="pagination">
                  </ul>
                </nav>
            </div>
            <div class="rows_count">Showing 11 to 20 of 91 entries</div>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'menu/footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
    <script src="{% static 'js/tables.js'%}"></script>
</body>
</html>