{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://images.craftsnherbs.com/logos/notebook.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Book Application</title>
</head>
<body>
    <header>
        <h1>{{user.firstName}} Admin Dashboard</h1>
        <nav>
            {% block menu %} {% include 'menu/loggedMenu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <h1>{{ message }}</h1>
                {% endfor %}
            {% endif %}
        </div>
        <button type='button' class="collapsible">Status</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <h2>Create A Status</h2>
                    <form action="/theAdmin/status/create/" method='post'>
                        {% csrf_token %}
                        <section>
                            <label for="status">Status</label>
                            <input type="text" name="status">
                        </section>
                        <button><span class="a">Submit</span></button>
                    </form>
                </div>
                <div class="column">
                    <h2>Current Status's</h2>
                    <div class="row data">
                        {% for status in statuss %}
                            <span class='list'>{{status.status}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">
                <button type='button' class="collapsible">Edit Status</button>
                <div class="content">
                    <div class="headerWrap">
                        <div class="numRows">
                            <div class="formGroup">
                                <select name="state" id="maxRows" class="formControl">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="tbSearch">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="formControl">
                        </div>
                    </div>
                    <table class="table table-striped table-class" id="table-id">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status in statuss %}
                                <tr>
                                    <td>{{status.status}}</td>
                                    <td>
                                        <form action="/theAdmin/status/{{status.id}}/update/" method='post'>
                                            {% csrf_token %}
                                            <section>
                                                <label for="status">Status</label>
                                                <input type="text" name="status" value='{{status.status}}'>
                                            </section>
                                            <button><span class="a">Update</span></button>
                                        </form>
                                    </td>
                                    <td><button><span class="a"><a href="/theAdmin/status/{{status.id}}/delete/">Delete</a></span></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class='paginationContainer'>
                        <nav>
                          <ul class="pagination">
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <button type='button' class="collapsible">Ownership</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <h2>Ownership</h2>
                    <form action="/theAdmin/ownership/create/" method='post'>
                        {% csrf_token %}
                        <section>
                            <label for="ownership">Ownership Type</label>
                            <input type="text" name="ownership">
                        </section>
                        <button><span class="a">Submit</span></button>
                    </form>
                </div>
                <div class="column">
                    <h2>Current Ownership types</h2>
                    <div class="row data">
                        {% for ownership in ownerships %}
                            <span class="list">{{ownership.ownership}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">
                <button type='button' class="collapsible">Edit Ownership</button>
                <div class="content">
                    <div class="headerWrap">
                        <div class="numRows">
                            <div class="formGroup">
                                <select name="state" id="maxRows" class="formControl">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="tbSearch">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="formControl">
                        </div>
                    </div>
                    <table class="table table-striped table-class" id="table-id">
                        <thead>
                            <tr>
                                <th>Ownership</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ownership in ownerships %}
                                <tr>
                                    <td>{{ownership.ownership}}</td>
                                    <td>
                                        <form action="/theAdmin/ownership/{{ownership.id}}/update/" method='post'>
                                            {% csrf_token %}
                                            <section>
                                                <label for="ownership">Ownership Type</label>
                                                <input type="text" name="ownership" value="{{ownership.ownership}}">
                                            </section>
                                            <button><span class="a">Update</span></button>
                                        </form>
                                    </td>
                                    <td><button><span class="a"><a href="/theAdmin/ownership/{{ownership.id}}/delete/">Delete</a></span></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class='paginationContainer'>
                        <nav>
                          <ul class="pagination">
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <button type='button' class="collapsible">Genre</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <h2>Genre</h2>
                    <form action="/theAdmin/genre/create/" method='post'>
                        {% csrf_token %}
                        <section>
                            <label for="genre">Genre</label>
                            <input type="text" name="genre">
                        </section>
                        <button><span class="a">Submit</span></button>
                    </form>
                </div>
                <div class="column">
                    <h2>Current Genre's</h2>
                    <div class="row data">
                        {% for genre in genres %}
                            <span class="list">{{genre.genre}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">
                <button type='button' class="collapsible">Edit Genre</button>
                <div class="content">
                    <div class="headerWrap">
                        <div class="numRows">
                            <div class="formGroup">
                                <select name="state" id="maxRows" class="formControl">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="tbSearch">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="formControl">
                        </div>
                    </div>
                    <table class="table table-striped table-class" id="table-id">
                        <thead>
                            <tr>
                                <th>Genre</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for genre in genres %}
                                <tr>
                                    <td>{{genre.genre}}</td>
                                    <td>
                                        <form action="/theAdmin/genre/{{genre.id}}/update/" method='post'>
                                            {% csrf_token %}
                                            <section>
                                                <label for="genre">Genre</label>
                                                <input type="text" name="genre" value='{{genre.genre}}'>
                                            </section>
                                            <button><span class="a">Update</span></button>
                                        </form>
                                    </td>
                                    <td><button><span class="a"><a href="/theAdmin/genre/{{genre.id}}/delete/">Delete</a></span></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class='paginationContainer'>
                        <nav>
                          <ul class="pagination">
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <button type='button' class="collapsible">Series</button>
        <div class="content">
            <div class="row">
                <div class="column">
                    <h2>Series</h2>
                    <form action="/theAdmin/series/create/" method='post'>
                        {% csrf_token %}
                        <section>
                            <label for="name">Series Name</label>
                            <input type="text" name="name">
                        </section>
                        <button><span class="a">Submit</span></button>
                    </form>
                </div>
                <div class="column">
                    <h2>Current Series</h2>
                    <div class="row data">
                        {% for series in seriess %}
                            <span class="list">{{series.name}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column">
                <button class="collapsible">Edit Series</button>
                <div class="content">
                    <div class="headerWrap">
                        <div class="numRows">
                            <div class="formGroup">
                                <select name="state" id="maxRows" class="formControl">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                        <div class="tbSearch">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="formControl">
                        </div>
                    </div>
                    <table class="table table-striped table-class" id="table-id">
                        <thead>
                            <tr>
                                <th>Series</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class='paginationContainer'>
                        <nav>
                          <ul class="pagination">
                          </ul>
                        </nav>
                    </div>
                    <div class="rowsCount">Showing 11 to 20 of 91 entries</div>
                </div>
            </div>
        </div>


            
            
            <div class="content">
                <div class="headerWrap">
                    <div class="numRows">
                        <div class="formGroup">
                            <select name="state" id="maxRows" class="formControl">
                                <option value="5">5</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="tbSearch">
                            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.." class="formControl">
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-class" id="table-id">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="column">
                    <h2>Author</h2>
                    <form action="/theAdmin/author/create/" method='post'>
                        {% csrf_token %}
                        <section>
                            <label for="firstName">First Name</label>
                            <input type="text" name="firstName">
                        </section>
                        <section>
                            <label for="lastName">Last Name</label>
                            <input type="text" name="lastName">
                        </section>
                        <button><span class="a">Submit</span></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h2>Book</h2>
                    <form action="/theAdmin/book/create/" method='post'>
                        {% csrf_token %}
                        <section>
                            <label for="title">Book Title</label>
                            <input type="text" name="title">
                        </section>
                        <section>
                            <label for="description">Description</label>
                            <textarea name="description" cols="30" rows="10"></textarea>
                        </section>
                        <section>
                            <input type="hidden" name="user" value='{{user.id}}'>
                        </section>
                        <section>
                            <label for="status">Current Read Status</label>
                            <select name="status">
                                <option value=""></option>
                                {% for status in statuss %}
                                    <option value="{{status.id}}">{{status.status}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <section>
                            <label for="ownership">Ownership</label>
                            <select name="ownership">
                                <option value=""></option>
                                {% for ownership in ownerships %}
                                    <option value="{{ownership.id}}">{{ownership.ownership}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <section>
                            <label for="genre">Genre</label>
                            <select name="genre">
                                <option value=""></option>
                                {% for genre in genres %}
                                    <option value="{{genre.id}}">{{genre.genre}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <section>
                            <label for="series">Part of Series</label>
                            <select name="series">
                                <option value=""></option>
                                {% for series in seriess %}
                                    <option value="{{series.id}}">{{series.name}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <section>
                            <label for="sequence">Sequence in Series</label>
                            <input type="number" name="sequence">
                        </section>
                        <section>
                            <label for="author">Author</label>
                            <select name="author">
                                <option value=""></option>
                                {% for author in authors %}
                                    <option value="{{author.id}}">{{author.firstName}} {{author.lastName}}</option>
                                {% endfor %}
                            </select>
                        </section>
                        <button><span class="a">Submit</span></button>
                    </form>
                </div>
            </div>
    </main>
    <footer>
        {% block footer %} {% include 'menu/footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>